{% extends 'base.html.twig' %}

{% block title %}Hello CharacterController!{% endblock %}

{% block body %}

<div class="first" >
    <div class="both">
        <div class="creation">
            <button id="btn1" >Profil</button>
            <button id="btn2" >Classe</button>
            <button id="btn3" >Compétence</button>
        </div>

        <div class="onglet"   id="content3"style="display:none;" >

            <div class="div_lvl btn_creation" >
                <div class="skill_class" id ="barbar_skill" style="display:none;" data-skill="barbare">
                <div class="class_profil"> 
                    <input type="checkbox" class="input_check" data-competence="athletisme">Athlétisme</input>
                    <input type="checkbox" class="input_check" data-competence="intimidation">Intimidation</input>
                    <input type="checkbox" class="input_check" data-competence="nature">Nature</input>
                    <input type="checkbox" class="input_check" data-competence="perception">Perception</input>
                </div>
                <div  class="class_profil">
                    <input type="checkbox" class="input_check" data-competence="survie">Survie</input>
                    <input type="checkbox" class="input_check" data-competence="dressage">Dressage</input>
                </div>
            </div>
            <div class="skill_class"  id="war_skill" style="display:none;" data-skill="guerrier">
                <div class="class_profil">
                    <input type="checkbox" class="input_check" data-competence="acrobatie">Acrobaties</input>
                    <input type="checkbox" class="input_check" data-competence="dressage">Dressage</input>
                    <input type="checkbox" class="input_check" data-competence="athletisme">Athlétisme</input>
                    <input type="checkbox" class="input_check" data-competence="histoire">Histoire</input>
                    
                </div>
                <div class="class_profil">
                    <input type="checkbox" class="input_check" data-competence="intuition">Intuition</input>
                    <input type="checkbox" class="input_check" data-competence="intimidation">Intimidation</input>
                    <input type="checkbox" class="input_check" data-competence="perception">Perception</input>
                    <input type="checkbox" class="input_check" data-competence="survie">Survie</input>
                </div>
            </div>

    <div class="skill_class" style="display:none;" data-skill="roublard">
        <div class="class_profil">
            <input type="checkbox" class="input_check" data-competence="acrobatie">Acrobaties</input>
            <input type="checkbox" class="input_check" data-competence="athletisme">Athlétisme</input>
            <input type="checkbox" class="input_check" data-competence="discretion">Discrétion</input>
            <input type="checkbox" class="input_check" data-competence="escamotage">Escamotage</input>
            
        </div>
        <div class="class_profil">
            <input type="checkbox" class="input_check" data-competence="intuition">Intuition</input>
            <input type="checkbox" class="input_check" data-competence="inestigation">Investigation</input>
            <input type="checkbox" class="input_check" data-competence="perception">Perception</input>
            <input type="checkbox" class="input_check" data-competence="persuasion">Persuasion</input>
        </div>
        <div class="class_profil">
            <input type="checkbox" class="input_check" data-competence="tromperie">Tromperie</input>
        </div>
    </div>

    <div class="skill_class" style="display:none;" data-skill="moine">
        <div class="class_profil">
            <input type="checkbox" class="input_check" data-competence="acrobatie">Acrobaties</input>
            <input type="checkbox" class="input_check" data-competence="athletisme">Athlétisme</input>
            <input type="checkbox" class="input_check" data-competence="histoire">Histoire</input>
            <input type="checkbox" class="input_check" data-competence="intuition">Intuition</input>
            
        </div>
        <div class="class_profil"> 
            <input type="checkbox" class="input_check" data-competence="religion">>Religion</input>
            <input type="checkbox" class="input_check" data-competence="discretion">Discrétion</input>
        </div>

    </div>
    <div class="skill_class" style="display:none;"  data-skill="magicien">
        <div class="class_profil">
            <input type="checkbox" class="input_check" data-competence="arcanes">Arcanes</input>
            <input type="checkbox" class="input_check" data-competence="histoire">Histoire</input>
            <input type="checkbox" class="input_check" data-competence="investigation">Investigation</input>
            <input type="checkbox" class="input_check" data-competence="medecine">Médecine</input>
        </div>
        <div class="class_profil">
            <input type="checkbox" class="input_check" data-competence="religion">Religion</input>        
        </div>

    </div>
    <div class="skill_class" style="display:none;"  data-skill="ensorceleur">
    <div >
        <div class="class_profil">
            <input type="checkbox" class="input_check" data-competence="arcanes">Arcanes</input>
            <input type="checkbox" class="input_check" data-competence="tromperie">Tromperie</input>
            <input type="checkbox" class="input_check" data-competence="intuition">Intuition</input>
            <input type="checkbox" class="input_check" data-competence="intimidation">Intimidation</input>
        </div>
        <div  class="class_profil">
            <input type="checkbox" class="input_check" data-competence="persuasion">Persuasion</input>
            <input type="checkbox" class="input_check" data-competence="religion">Religion</input>
        </div>
    
    </div>
        
        
    </div>

    <div class="skill_class" style="display:none;"  data-skill="occultiste">
        <div class="class_profil">
            <input type="checkbox" class="input_check" data-competence="arcanes">Arcanes</input>
            <input type="checkbox" class="input_check" data-competence="tromperie">Tromperie</input>
            <input type="checkbox" class="input_check" data-competence="histoire">Histoire</input>
            <input type="checkbox" class="input_check" data-competence="intimidation">Intimidation</input>    
        </div>
        <div class="class_profil">
            <input type="checkbox" class="input_check" data-competence="ivestigation">Investigation</input>
            <input type="checkbox" class="input_check" data-competence="nature">Nature</input>
            <input type="checkbox" class="input_check" data-competence="religion">Religion</input>
        </div>
    </div>

    <div class="skill_class" style="display:none;"  data-skill="clerc">
        <div class="class_profil">
            <input type="checkbox" class="input_check" data-competence="histoire">Histoire</input>
            <input type="checkbox" class="input_check" data-competence="intuition">Intuition</input>
            <input type="checkbox" class="input_check" data-competence="medecine">Médecine</input>
            <input type="checkbox" class="input_check" data-competence="persuasion">Persuasion</input>
        </div>
        <div >
            <input type="checkbox" class="input_check" data-competence="religion">Religion</input>
        </div>
        
    </div>
    <div class="skill_class" style="display:none;"  data-skill="paladin">
        <div class="class_profil"> 
            <input type="checkbox" class="input_check" data-competence="athletisme">Athlétisme</input>input
            <input type="checkbox" class="input_check" data-competence="intuition">Intuition</input>
            <input type="checkbox" class="input_check" data-competence="intimidation">Intimidation</input>
            <input type="checkbox" class="input_check" data-competence="medecine">Médecine</input>
        </div>
        <div class="class_profil">
            <input type="checkbox" class="input_check" data-competence="persuasion">Persuasion</input>
            <input type="checkbox" class="input_check" data-competence="religion">Religion</input>
        </div>

    </div>
    <div class="skill_class" style="display:none;"  data-skill="rodeur">
        <div  class="class_profil">
            <input type="checkbox" class="input_check" data-competence="dressage">Dressage</input>
            <input type="checkbox" class="input_check" data-competence="athletisme">Athlétisme</input>
            <input type="checkbox" class="input_check" data-competence="intuition">Intuition</input>
            <input type="checkbox" class="input_check" data-competence="investigation">Investigation</input>
        </div>
        <div class="class_profil">
            <input type="checkbox" class="input_check" data-competence="nature">Nature</input>
            <input type="checkbox" class="input_check" data-competence="perception">Perception</input>
            <input type="checkbox" class="input_check" data-competence="discretion">Discrétion</input>
            <input type="checkbox" class="input_check" data-competence="survie">Survie</input>
        </div>

    </div>
    <div class="skill_class" style="display:none;"  data-skill="druide">
        <div class="class_profil">
            <input type="checkbox" class="input_check" data-competence="arcanes">Arcanes</input>
            <input type="checkbox" class="input_check" data-competence="dressage">Dressage</input>
            <input type="checkbox" class="input_check" data-competence="intuition">Intuition</input>
            <input type="checkbox" class="input_check" data-competence="medecine">Médecine</input>
        </div>
        <div class="class_profil">
            <input type="checkbox" class="input_check" data-competence="nature">Nature</input>
            <input type="checkbox" class="input_check" class="input_check" data-competence="perception">Perception</input>
            <input type="checkbox" class="input_check" data-competence="religion">Religion</input>
            <input type="checkbox" class="input_check" data-competence="survie">Survie</input>
        </div>
    </div>

    <div class="skill_class" style="display:none;"  data-skill="barde">

    <div class="class_profil"> 
        <input type="checkbox" class="input_check" data-competence="acrobatie">Acrobatie </input>
        <input type="checkbox" class="input_check" data-competence="arcanes">Arcanes </input>
        <input type="checkbox"  class="input_check" data-competence="athletisme">Athlétisme </input>
        <input type="checkbox" class="input_check" data-competence="discretion">Discrétion </input>
        
    </div>
    <div class="class_profil">
        <input type="checkbox" class="input_check" data-competence="dressage">Dressage </input>
        <input type="checkbox" class="input_check" data-competence="escamotage">Escamotage </input>
        <input type="checkbox" class="input_check" data-competence="histoire">Histoire </input>
        <input type="checkbox" class="input_check" data-competence="intimidation">Intimidation </input>
    </div>
    <div class="class_profil">
        <input type="checkbox" class="input_check" data-competence="intuition">Intuition </input>
        <input type="checkbox" class="input_check" data-competence="investigation">Investigation </input>
        <input type="checkbox" class="input_check" data-competence="medecine">Médecine </input>
        <input type="checkbox" class="input_check" data-competence="nature">Nature </input>
    </div>
    <div class="class_profil">
        <input type="checkbox" class="input_check" data-competence="perception">Perception </input>
        <input type="checkbox" class="input_check" data-competence="persuasion">Persuatsion </input>
        <input type="checkbox" class="input_check" data-competence="religion">Religion </input>
        <input type="checkbox" class="input_check" data-competence="representation">Représentation </input>
    </div>
    <div class="class_profil">
        <input type="checkbox" class="input_check" data-competence="survie">Survie </input>
        <input type="checkbox" class="input_check" data-competence="tromperie">Tromperie </input>
    </div>

    </div>
            

            </div>
        </div>

        <div class="onglet"  id="content2"  style="display:none;">

            
            <div class="div_lvl btn_creation all_classes">
                <div class="classes">
                    <input type="radio"  name="classe" class="class_skill" data-skill="barbare">Barbare</input>
                    <input type="radio"  name="classe" class="class_skill" data-skill="guerrier">Guerrier</input>
                    <input type="radio"  name="classe" class="class_skill" data-skill="roublard">Roublard</input>
                    <input type="radio"  name="classe" class="class_skill" data-skill="moine">Moine</input>
                </div>
                <div class="classes">
                    <input type="radio"  name="classe" class="class_skill"  data-skill="magicien">Magicien</input>
                    <input type="radio"  name="classe" class="class_skill"  data-skill="ensorceleur">Ensorceleur</input>
                    <input type="radio"  name="classe" class="class_skill"  data-skill="occultiste">Occultiste</input>
                    <input type="radio"  name="classe" class="class_skill"  data-skill="clerc">Clerc</input>
                </div>
                <div class="classes">
                    <input type="radio"  name="classe" class="class_skill"  data-skill="paladin">Paladin</input>
                    <input type="radio"  name="classe" class="class_skill"  data-skill="rodeur">Rodeur</input>
                    <input type="radio"  name="classe" class="class_skill"  data-skill="druide">Druide</input>
                    <input type="radio"  name="classe" class="class_skill"  data-skill="barde">Barde</input>
                </div>
                

            </div>
        </div>
        <div class="onglet"  id="content1">

        
        <div class="div_lvl btn_creation">

            <div class ="character">
                <img src="img/character1.jpg" alt="" class="img_char">
                <p>Niveaux 1</p>
            </div>

            <div>
                <p>Karnage</p>
                <p>Humain</p>
                <p>Mage</p>
            </div>
            <div class="test">
                <div class="exp">
                    <div class="exp_exp">
                        <div id="experience">{{ player.Experience }}</div>
                        
                        <div>/</div>
                        <div id="max_exp">300</div>
                    </div>
                    <div class="xp_bar">
                        <div id="div_xp" class="div_xp"></div>
                    </div>
                </div>
                
                <div class="add_exp ">
                    <div class="five">
                        <button class=" exp_color five_left" id="min_five">-</button>
                        <div class="five_mid" id="plus_five">5</div>
                        <button class=" five_right exp_color" id="max_five">+</button>
                    </div>
                    <div class="five">
                        <button class=" exp_color five_left" id="min_ten">-</button>
                        <div class="five_mid" id="plus_ten">10</div>
                        <button class=" five_right exp_color" id="max_ten">+</button>
                    </div>
                    <div class="five">
                        <button class=" exp_color five_left" id="min_fifty">-</button>
                        <div class="five_mid" id="plus_fifty">50</div>
                        <button class=" five_right exp_color"  id="max_fifty">+</button>
                    </div>
                    <div class="five">
                        <button class=" exp_color five_left"  id="min_hundred">-</button>
                        <div class="five_mid" id="plus_hundred">100</div>
                        <button class=" five_right exp_color"  id="max_hundred">+</button>
                    </div>
                </div>
                
            </div>

        </div>
    </div>
</div>
    <div class="life  black">  
        <div class="initiative">
            <div class="speed">   
                <div><p>CA</p></div>
                <div><p>14</p></div>
            </div>
            <div class="speed">
                <div><p>Initiative</p></div>
                <div><p>+1</p></div>    
            </div>
            <div class="speed"> 
                <div><p>vitesse</p></div>
                <div><p>9m</p></div>
            </div>
        </div>

        <div class="point_life">
            <p>Points de vie <button class="modify_life">+</button></p>
            <div class="count">
                <div id="count">{{ player.hp }}</div>
                <div>/</div>
                <div id="maxdiv">12</div>
            </div>
            
            
            <div class="button_life">
                <div >
                    <button class="damage" type="button" id="btnmin" >
                        <img src="img/damage.png" alt="" class="red_heart">
                    </button>
                </div>


                <div >
                    <button class="heal" id="btnmax">
                        <img src="img/heal.png" alt="" class="red_heart">
                    </button>
                </div>
            </div>
            
        </div>
        
    </div>
</div>

<div class="teste1">
    <div class="save">
        <h2> Sauvegarde</h2>
        <div class="sav_2">
            <div data-save = "force"> 0</div>
            <div> Force</div>
        </div>
        <div class="sav_2"> 
            <div  data-save = "dexterite"> 0</div>
            <div> Dexterité</div>
        </div>
        <div class="sav_2">
            <div  data-save = "constitution"> 0</div>
            <div> Constitution</div>
        </div>
        <div class="sav_2">
            <div  data-save = "intelligence">  0</div>
            <div> Intelligence</div>
        </div>
        <div class="sav_2">
            <div  data-save = "sagesse"> 0</div>
            <div> Sagesse</div>
        </div>
        <div class="sav_2">
            <div  data-save = "charisme"> 0</div>
            <div> Charisme</div>
        </div>  
    </div>
<div class="second black">
    
    <div class="stats" data-stat="for">
        <div class="bonus">
            <div><button class="bonus1" >+1</button></div>
            <div><button class="bonus2" >+2</button></div>
        </div>
        <div class="margin_stats bonus_display">+ 0</div>
        <div class="margin_stats">FORCE</div>
        <div class="margin_stats statcount" id='statscount1'>{{ player.forceStat }}</div>
        <div class="stats_button bonus" >
            <div><button class="statmin" id='statsmin1'>-</button></div>
            <div><button class="statmax" id='statsmax1'>+</button></div>
        </div>
    </div>

    <div class="stats" data-stat="dex">
        <div class="bonus">
            <div><button class="bonus1" >+1</button></div>
            <div><button class="bonus2" >+2</button></div>
        </div>
        <div class="margin_stats bonus_display">+ 0</div>
        <div class="margin_stats">DEXTERITE</div>
        <div class="margin_stats statcount" id='statscount2'>{{ player.Dexterite }}</div>
        <div class="stats_button bonus">
            <div><button class="statmin" id='statsmin2'>-</button></div>
            <div><button class="statmax" id='statsmax2'>+</button></div>
        </div>
    </div>

    <div class="stats"  data-stat="const">
        <div class="bonus">
            <div><button class="bonus1" >+1</button></div>
            <div><button class="bonus2" >+2</button></div>
        </div>
        <div class="margin_stats bonus_display">+ 0</div>
        <div class="margin_stats">CONSTITUTION</div>
        <div class="margin_stats statcount" id='statscount3'>{{ player.Constitution }}</div>
        <div class="stats_button bonus">
            <div><button class="statmin" id='statsmin3'>-</button></div>
            <div><button class="statmax" id='statsmax3'>+</button></div>
        </div>
    </div>

    <div class="stats" data-stat="int">
        <div class="bonus">
            <div><button class="bonus1" >+1</button></div>
            <div><button class="bonus2" >+2</button></div>
        </div>
        <div class="margin_stats bonus_display">+ 0</div>
        <div class="margin_stats">INTELLIGENCE</div>
        <div class="margin_stats statcount" id='statscount4'>{{ player.Intelligence }}</div>
        <div class="stats_button bonus">
            <div><button class="statmin" id='statsmin4'>-</button></div>
            <div><button class="statmax" id='statsmax4'>+</button></div>
        </div>
    </div>

    <div class="stats" data-stat="sag">
        <div class="bonus">
            <div><button class="bonus1" >+1</button></div>
            <div><button class="bonus2" >+2</button></div>
        </div>            
        <div class="margin_stats bonus_display">+ 0</div>
        <div class="margin_stats">SAGESSE</div>
        <div class="margin_stats statcount" id='statscount5'>{{ player.Sagesse }}</div>
        <div class="stats_button bonus">
            <div><button class="statmin" id='statsmin5'>-</button></div>
            <div><button class="statmax" id='statsmax5'>+</button></div>
        </div>
    </div>

    <div class="stats" data-stat="cha">
        <div class="bonus">
            <div><button class="bonus1" >+1</button></div>
            <div><button class="bonus2" >+2</button></div>
        </div>
        <div class="margin_stats bonus_display">+ 0</div>
        <div class="margin_stats">CHARISME</div>
        <div class="margin_stats statcount" >{{ player.Charisme }}</div>
        <div class="stats_button bonus">
            <div><button class="statmin" id='statsmin6'>-</button></div>
            <div><button class="statmax" id='statsmax6'>+</button></div>
        </div>
    </div>
    
</div>
    <div class="counter0">
        <div class="counter">27</div>
    </div>
</div>
<div class="second_part ">
    <div  class="competences black background_image">
    
        <div class="bonusstat">
            <div  data-stat="cha" data-competence="acrobatie">1 </div>
            <div> Acrobatie ( Dex )</div> 
        </div>

        <div class="bonusstat">
            <div data-stat="int" data-competence="arcanes">1 </div>
            <div>Arcanes ( Int )</div> 
        </div>

        <div class="bonusstat">
            <div data-stat="for" data-competence="athletisme">1 </div>
            <div>  Athlétisme ( For )</div> 
        </div>

        <div class="bonusstat">
            <div data-stat="dex" data-competence="discretion">1 </div>
            <div> Discrétion ( Dex )</div> 
        </div>

        <div class="bonusstat">
            <div data-stat="sag" data-competence="dressage">1 </div>
            <div> Dressage ( Sag )</div> 
        </div>

        <div class="bonusstat">
            <div data-stat="dex" data-competence="escamotage">1 </div>
            <div> Escamotage ( Dex )</div> 
        </div>

        <div class="bonusstat">
            <div data-stat="int" data-competence="histoire">1 </div>
            <div>Histoire ( Int )</div> 
        </div>

        <div class="bonusstat">
            <div  data-stat="cha" data-competence="intimidation">1 </div>
            <div>Intimidation ( Cha )</div> 
        </div>

        <div class="bonusstat">
            <div data-stat="sag" data-competence="intuition">1 </div>
            <div>Intuition ( Sag )</div> 
        </div>

        <div class="bonusstat">
            <div data-stat="int" data-competence="investigation">1 </div>
            <div> Investigation ( Int )</div> 
        </div>

        <div class="bonusstat">
            <div data-stat="sag" data-competence="medecine">1 </div>
            <div>Médecine ( Sag )</div> 
        </div>

        <div class="bonusstat">
            <div data-stat="int" data-competence="nature">1 </div>
            <div>Nature ( Int )</div> 
        </div>
        
        <div class="bonusstat">
            <div data-stat="sag" data-competence="perception">1 </div>
            <div> Perception ( Sag )</div> 
        </div>

        <div class="bonusstat">
            <div  data-stat="cha" data-competence="persuasion">1 </div>
            <div> Persuasion ( Cha )</div> 
        </div>

        <div class="bonusstat" >
            <div data-stat="int" data-competence="religion">1 </div>
            <div> Religion ( Int )</div> 
        </div>

        <div class="bonusstat">
            <div  data-stat="cha" data-competence="representation">1 </div>
            <div>Représentation ( Cha )</div> 
        </div>

        <div class="bonusstat">
            <div data-stat="sag" data-competence="survie">1 </div>
            <div> Survie (Sag )</div> 
        </div>

        <div class="bonusstat">
            <div  data-stat="cha" data-competence="tromperie">1 </div>
            <div> Tromperie ( Cha )</div> 
        </div>

    </div>

    <div class="equipement black">
    
        <div class="armor">
            <div class="stuff">
                <img src="img/casque.png" alt="" class="width_stuff">
                <input type="text"  class="input_armor">
            </div>
            <div class="stuff">
                <img src="img/plastron.png" alt="" class="width_stuff">
                <input type="text"  class="input_armor">
            </div>
            <div class="stuff">
                <img src="img/gants.png" alt="" class="width_stuff">
                <input type="text"  class="input_armor">
            </div>
            <div class="stuff"> 
                <img src="img/botte.png" alt="" class="width_stuff">
                <input type="text"  class="input_armor">
            </div>
        </div>
        <div>
            <div class="stuff weapons">
                <img src="img/epee.png" alt="" class="width_stuff">
                <input type="text"  class="input_armor">

            </div>
            <div class="stuff weapons">
                <img src="img/arc.png" alt="" class="width_stuff">
                <input type="text" class="input_armor">
            </div>
        </div>

    </div>

    <div class="skills black">
        <div>
            <h2><strong><u> Mes sorts</u></strong></h2>
            <div><input type="text" class="input_skills"></div>
            <div><button>Ajoutez un sort</button></div>
            
        </div>
    </div>
</div>
<div class="bag black">


        <div>
            
            <div class="gold">
            <div class="po"><strong >PO : 2</strong></div>
            <div class="pa"><strong>PA : 57</strong></div>
            <div class="pc"><strong>PC : 22 </strong></div>    
        </div>
            <textarea name="" id="" class="bag_text"></textarea>
        </div>
    </div>


{% endblock %}
